---
# Must be set to the key pair name
# of the file passed to playbook
KEYPAIR: "typesafe-training"
# This image is Ubuntu 14.04 LTS in us-east-1
# Must set to region local Ubuntu AMI for other regions
IMAGE: "ami-7c797514"
REMOTE_USER: "admin"
INSTANCE_TYPE: "t2.small"
EC2_REGION: "{{ EC2_REGION }}"
NODE_SECURITY_GROUP: "{{ node_sg.group_id }}"
AZ_SEED: "{{ vpc.subnets[0].az }}"
SUBNET_SEED: "{{ vpc.subnets[0].id }}"
AZ_SN1: "{{ vpc.subnets[1].az }}"
SUBNET1: "{{ vpc.subnets[1].id }}"
ELB: "{{ elb.elb.name }}"
TAG_NAME: "training-services"
CONDUCTR_PKG: "conductr_0.1.0_all.deb"
CONDCUTR_HAPROXY_PKG: "conductr-haproxy_0.1.0_all.deb"
